body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

button {
    margin: 0 5px; /* Добавьте небольшой отступ по бокам кнопок */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

canvas {
    border: 1px solid #ccc;
}

.info-container {
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

span {
    font-weight: bold;
    color: #007bff;
}
