.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  image-rendering: pixelated;
}

canvas {
  border: 1px solid black;
  margin-top: 50px;
  transform-origin: top left;
}

#controls-file {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #f0f8ff;
  align-items: center;
  width: calc(100% - 40px);
  padding: 10px 20px;
  text-align: left;
height: 40px;
}

#controls-top {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #f2f2f2;
  align-items: center;
  width: calc(100% - 40px);
  padding: 0 20px;
  text-align: center;
}

#controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}



label {
  margin-right: 10px;
}